/*

    INTERNET EXPLORER 6 STYLESHEET
    
    @version: 1.0
    @author: Erskine Design
    
    CONTENTS ----------
    
        1. BODY
            1.1. ACCESSIBILITY NAVIGATION
        2. DEFAULT STYLING
            2.1. FORMS
            2.2. TABLES
        3. HEADLINES
        4. LINKS
        5. LAYOUT
            5.1. HEADER & BRANDING
            5.2. FOOTER
        6. NAVIGATION
        7. GLOBAL ELEMENTS
    
    -------------------
    
*/



/* @group 1. BODY -------------------- */

    /* @group 1.1. ACCESSIBILITY NAVIGATION ---------- */
    
    ul#nav_access {
        background:yellow;
        top:-40px;
        margin-bottom:-40px;
    }
    ul#nav_access li a.focus {
        top:40px;
    }
    
    /* @end */



/* @end */



/* @group 2. DEFAULT STYLING -------------------- */

    /* @group 2.1. FORMS ---------- */
    
    form div.multiselect input {
        left:0;
    }
    
    /* @end */



/* @end */



/* @group 3. HEADLINES -------------------- */

/* @end */



/* @group 4. LINKS -------------------- */

/* @end */



/* @group 5. LAYOUT -------------------- */

div#content_wrapper {
    overflow:visible;
    height:1px;
}
div#content_pri,
div#content_sec {
    display:inline;
}

    /* @group 5.1 HEADER & BRANDING -------------------- */
    
    div#header {
        overflow:visible;
        height:1px;
    }
    
    #branding,
    form#site_search {
        display:inline;
    }
    
    form#site_search {
        width:300px;
    }
    
    /* @end */
    
    /* @group 5.2. FOOTER -------------------- */
    
    
    
    /* @end */



/* @end */



/* @group 6. NAVIGATION -------------------- */

ul#navigation_pri {
    overflow:visible;
    height:1px;
    width:100%;
}
ul#navigation_pri li {
    display:inline;
}

/* @end */



/* @group 7. GLOBAL ELEMENTS -------------------- */



/* @end */


