// ==========================================================================
// HIDE TEXT
// ========================================================================== 
//
// Hide the text of any module
// 
// Based on the Kellum method: 
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
// 

%hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
