{% extends 'grids/base.html' %}
{% block body_class %}about{% endblock %}
{% block content %}
	{% load common %}
	<div class="about_wrapper">
			<header id="header_sec">
				<div id="center" class="column">
					<h2>The <b>Responsive</b> grid generator</h2>
					<p>Creating a responsive grid system just became a total breeze...</p>
				</div>
                <a href="{% url grids_index %}" id="left" class="main_button column{% if cur_page == 'index' %} cur{% endif %}">Use the generator</a>
                <a href="{% url about %}" id="right" class="main_button column{% if cur_page == 'about' %} cur{% endif %}">Learn about Gripak</a>
			</header>

			<div class="grid grid_3_col_up">
				
				<div class="col">
					<h3>What is it?</h3>
					<p>Gridpak is the starting point for your responsive projects, improving your workflow and saving time.</p>
					<p>Create your responsive grid system once using the simple interface and let Gridpak do the heavy lifting of generating CSS, PNGs and Javascript</p>
					<h3>Why use Gridpak?</h3>
					<p>It’s the most flexible system out there – you control every aspect of the grid from column padding and gutter widths to baseline height and where the 'break points' occur.  
					Our simple interface makes it quick and easy to visualise your responsive grid system and output it in the formats you need.</p>
				</div> <!-- // .col -->
			
				<div class="col">
					<h3>How does it work?</h3>
					<p>Choose your preferred layout, then download your very own Gridpak (a .zip file) containing your choice of</p>
					<ul>		
						<li>PNG versions of your grids, ready and waiting for your graphics program of choice.</li>
						<li>A CSS file version of your grid which will be used to overlay your documents in the browser.</li>
						<li>A CSS, LESS and SCSS file containing all the appropriate media queries, and 'presentational' CSS classes.</li>
						<li>A JavaScript snippet which allows you to toggle your grid on &amp; off in any browser using the either the 'G' key to toggle the complete grid, the 'V' key to toggle just the vertical grid, or the 'B' key to toggle the baseline.</li>
					</ul>
					
				</div> <!-- // .col -->
		
				<div class="col">
					<h3>Beta</h3>
					<p>Gridpak is raring to go, but we need your help to successfully release it into the wild. We are constantly looking to improve Gridpak, so if you have any suggestions please don’t hesitate to email hello@gridpak.com.</p>
					<h3>Resources</h3>
					<a href="">Responsive Web Design by ETHAN MARCOTTE</a>
					<a href="">http://thegridsystem.org</a>
					<a href="">Grid Systems: Principles of Organizing Type by Kimberly Elam</a>
					<a href="">http://mediaqueri.es/</a>t
					<h3>Updates</h3>
					<ul class="updates">
						<li>13/9/11 - Added baseline functionality</li>
						<li>7/9/11 - Fixed margin bug</li>
						<li>7/9/11 - Improved gutters</li>
						<li>5/9/11 - Integrated with LESS</li>
						<li>1/9/11 - Fixed margin bug</li>
					</ul>
				</div> <!-- // .col -->
			
			</div> <!-- // .grid -->

		    <div id="grids">
		
				<div class="grid grid_3_col">
			        {% for i in 3|get_range %}
			        <div class="col"><div class="visible"></div></div>
			        {% endfor %}
				</div> <!-- // .grid_320 -->
			
				<div class="grid grid_6_col">
			        {% for i in 6|get_range %}
			        <div class="col"><div class="visible"></div></div>
			        {% endfor %}
				</div> <!-- // .grid_500 -->
			
				<div class="grid grid_12_col">
			        {% for i in 12|get_range %}
			        <div class="col"><div class="visible"></div></div>
			        {% endfor %}
				</div> <!-- // .grid_960 -->
			
		    </div> <!-- // #grids -->
		
			<div class="baseline_grid"></div>

	</div> <!-- // .about_wrapper -->

{% endblock %}
