<!DOCTYPE html>
<html lang="en" class="js-disabled">

    <head>
    
        <!-- METADATA -->
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="author" content="Erskine Design" />
        <link rel="author" type="text/plain" href="/humans.txt" />
        
        <title>Gridpak</title>
        
		<!-- TYPEKIT -->
		<script type="text/javascript" src="http://use.typekit.com/pua6dog.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
        <!-- CSS -->
        <link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/screen.css" />
        
        <!-- INTERNET EXPLORER CSS -->
        <!--[if IE 8]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie8.css" /><![endif]-->
        <!--[if lte IE 7]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie.css" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie7.css" /><![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie6.css" /><![endif]-->
		<script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
        
        <!-- ICONS -->
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/site/icons/favicon.png" />   
    
    </head>
    
    <body class="{% block body_class %}{% endblock %}">
        	<header class="site_header">
	            <div class="header_wrapper">
	                <h1 id="branding">
			            Gridpak<sup>BETA</sup>
			        </h1>
				    <ul class="social">	
    					<li class="share">
    						<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="gridpak" data-related="erskinedesign:creators of Gridpak">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    					</li>
    					<li class="like">
    						<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgridpak.com&amp;send=false&amp;layout=button_count&amp;width=auto&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21&amp;appId=297295033635694" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:auto; height:21px;" allowTransparency="true"></iframe>
    					</li>
    				</ul>
    				<nav>
                        <a href="{% url about %}" class="{% if cur_page == 'about' %} cur{% endif %}">Learn about Gripak</a>
                        <a href="{% url grids_index %}" class="main_button column{% if cur_page == 'index' %} cur{% endif %}">Use the generator</a>
    			    </nav>
    			</div>
			</header>
		</div>
		<div id="content_wrapper">
		{% block content %}{% endblock %}
	
	  <!-- JAVASCRIPT -->

	    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.15.custom.min.js"></script>
	    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
	    <script src="{{ STATIC_URL }}js/backbone.js"></script>
	    <script src="{{ STATIC_URL }}js/gridpak.js"></script>
	    <script src="{{ STATIC_URL }}js/onload.js"></script>
	    <script src="{{ STATIC_URL }}js/highlight.pack.js"></script>

	<!--[if IE 6]>
	<script src="{{ STATIC_URL }}js/ie6/DD_belatedPNG_0.0.8a.js"></script>
	<script src="{{ STATIC_URL }}js/ie6/ie6.js"></script>
	<![endif]-->

	</body>

	</html>
	
