{% load compress %}
<!DOCTYPE html>
<html lang="en" class="js-disabled cssgradients backgroundsize">

    <head>
    
        <!-- METADATA -->
        <meta charset="UTF-8" />
        <meta name="description" content="A Responsive Web Design tool for creating grids by Erskine Design" />
        <meta name="author" content="Erskine Design" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">  
        <link rel="author" type="text/plain" href="{{ STATIC_URL }}humans.txt" />
        
        
        <title>{% block page_title %}{% endblock %}Gridpak - The responsive grid generator</title>
        
        <!-- TYPEKIT -->
        <link rel="stylesheet" href="//f.fontdeck.com/s/css/qUCg1j9ybVrA7jziSNtMKrTAsjg/gridpak.com/41715.css" type="text/css" />
        <script type="text/javascript" src="//use.typekit.net/xot5rmc.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <!-- CSS -->
        {% compress css %}
        <link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}stylesheets/screen.css" />
        {% endcompress %}
        
        <!-- ICONS -->
        <link rel="icon" href="{{ STATIC_URL }}images/site/icons/favicon.ico" />
    
    </head>
    
    <body class="{% block body_class %}{% endblock %}">
            {% block sorry %}{% endblock %}
            <header class="site_header">
                <div class="header_wrapper">
                    <h1 id="branding"><a href="{% url grids_index %}">Gridpak</a></h1>
                    <h2 class="byline">The responsive grid generator</h2>

                    {% block nav_item %}{% endblock %}
                    {% block social %}{% endblock %}
                </div>
            </header>
            {% block content %}{% endblock %}

    <!-- JAVASCRIPT -->
    {% compress js %}
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/EDJ.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.fitvids.js"></script>
    {% endcompress %}
    {% block javascript %}{% endblock %}

    <!-- CALL DOC READY FUNCTIONS -->
    <script>
    $(document).ready(function() {

        var settings = {
            debug: {{ debug|lower }},
            STATIC_URL: '{{ STATIC_URL }}'
        };
        EDJ.on_ready(settings);
    });
    </script>

    
    <!-- ANALYTICS -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27024034-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    </body>

</html>
