{% extends 'grids/base.html' %}

{% block content %}
            <header id="header_sec">
					<h2>The <b>Responsive</b> grid generator</h2>
					<p>Creating a Responsive grid system just became a total breeze...</p>
			</header>
            <div id="gridpak">
					
                <div id="browser">

                    <ul id="grid_list"></ul>

                    <div id="grid_options">

                        <div class="dragme ui-resizable-handle ui-resizable-e tooltip small"><span>Drag me</span></div>  
                        <div>
							<label for="new_col_num">No. of columns</label>
                            <div class="number_input">
								<a href="#" class="number increase"></a>
								<a href="#" class="number decrease"></a>
                            	<input id="new_col_num" value="16" type="text" min="1" max="99" step="1" />	
							</div>
                        </div>
                        <div> 
							<label for="new_padding_width">Column padding</label>
							<div class="number_input">
								<a href="#" class="number increase"></a>
								<a href="#" class="number decrease"></a>
	                            <input id="new_padding_width" value="8" type="text" min="0" max="99" step="1" />
							</div>
                            {% comment %}
							<div class="switcher_container">
                            	<label for="padding_type_pixel" class="selected">px</label>
								<div class="switcher left"><span class="controller"></span></div>
								<label for="padding_type_percent">%</label>
                                <input type="radio" name="padding_type" checked="checked" id="padding_type_pixel" value="px" />
                                <input type="radio" name="padding_type" id="padding_type_percent" value="%" />
                            </div>
                            {% endcomment %}
                        </div>
                        <div>
                            <label for="new_gutter_width">Gutter width</label>
							<div class="number_input">
								<a href="#" class="number increase"></a>
								<a href="#" class="number decrease"></a>
                            	<input id="new_gutter_width" value="16" type="text" min="0" max="99" step="1" />
							</div>
                            {% comment %}
							<div class="switcher_container">
                                <label class="selected" for="gutter_type_pixel">px</label>
								<div class="switcher left"><span class="controller"></span></div>
								<label for="gutter_type_percent">%</label>
                                <input type="radio" name="gutter_type" checked="checked" id="gutter_type_pixel" value="px" />
                                <input type="radio" name="gutter_type" id="gutter_type_percent" value="%" />
                            </div>
                            {% endcomment %}
                        </div>
                        {% comment %}
                        <div>
                            <label for="new_baseline_height">Baseline height</label>
							<div class="number_input">
								<a href="#" class="number increase"></a>
								<a href="#" class="number decrease"></a>
                            	<input id="new_baseline_height" value="22" type="text" min="1" max="99" step="1" />
							</div>
							<div class="switcher_container">
                                <label class="selected" for="baseline_type_pixel">px</label>
								<div class="switcher left"><span class="controller"></span></div>
								<label for="baseline_type_percent">%</label>
                                <input type="radio" name="baseline_type" checked="checked" id="baseline_type_pixel" value="px" />
                                <input type="radio" name="baseline_type" id="baseline_type_percent" value="%" />
                            </div>
                        </div>
                        {% endcomment %}

                        <div class="submit">
                            <a href="#" class="tooltip large" id="save_grid">Add break point<span>By adding a 'break point' you are effectively creating a new grid and a media query.</span></a>
                        </div>

                    </div><!-- // #create_grid -->
					<div class="total_width">
                        <input id="new_min_width" type="text" disabled="disabled" />
                    </div>
                </div><!-- // #browser -->
				 
            </div><!-- // #gridpak -->
    
    </div><!-- // #content_wrapper -->
    
    <footer>
		  <div class="footer_wrapper">
		      <form id="download_form" method="post" action="{% url grids_download %}">
                       <textarea id="stringified" name="grids" cols="80" rows="10"></textarea>
    	                <button id ="download" type="submit">Download your Gridpak</button>
    					<p class="numberOfGrids">1</p>
    					<p class="gridpak_info">Your download includes:
                        <strong class="number numberOfGrids">1</strong> PNGs, <strong class="number">1</strong> CSS, 
                        <strong class="number">1</strong> LESS, <strong class="number">1</strong> SCSS and <strong class="number">1</strong> JavaScript file</p>
    	      </form>
	          <p class="created_by">This site is licensed under a Creative Commons Attribution 3.0 License
              Created by <a href="">Erskine Design</a></p>
               
		</div>
    </footer>

    <!-- TEMPLATES -->
    <script type="text/template" id="grid_template">
        <div class="grid<%= (current) ? ' cur' : '' %>">
            <div class="cols" style="margin-left:-<%= gutter_width + gutter_type %>;">
                <% var i=0; for(i; i<col_num; i++) { %>
                    <div class="col" style="width:<%= col_width  %>%; border-left-width:<%= (gutter_type == 'px') ? gutter_width : 0 %>px; margin-left:<%= (gutter_type == '%') ? gutter_width : 0 %>%; padding:0 <%= padding_width + padding_type %>;">
                        <div class="visible"><span class="width"><%= col_width %>px</span></div>
                    </div><!-- // .col -->
                <% } %>
            </div><!-- // .cols -->
            <div class="tab" style="left:<%= lower %>px; width:<%= (!upper) ? $('body').width() - lower : upper-lower %>px;">
                <ul class="actions">
                    <li><a href="#" class="link"><%= lower %> - <%= (!upper) ? '&#8734;' : upper %></a></li>
                    <li><a href="#" class="remove">remove</a></li>
                </ul><!-- // .actions -->
            </div>
        </div>
    </script>

	{% endblock %}

  
