<!DOCTYPE html>
<html lang="en" class="js-disabled">

    <head>
    
        <!-- METADATA -->
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="author" content="Erskine Design" />
        <link rel="author" type="text/plain" href="/humans.txt" />
        
        <title>Gridpak</title>
        
        <!-- CSS -->
        <link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/screen.css" />
        
        <!-- INTERNET EXPLORER CSS -->
        <!--[if IE 8]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie8.css" /><![endif]-->
        <!--[if lte IE 7]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie.css" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie7.css" /><![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie6.css" /><![endif]-->
        
        <!-- ICONS -->
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/site/icons/favicon.png" />   
    
    </head>
    
    <body class="{% block body_class %}{% endblock %}">
		<div class="header_wrapper">
        	<header>
	            <h1 id="branding">
	                <a href="">Gridpak</a>
					<span>BETA</span>
					<small><a href="http://www.erskinedesign.com">Created by Erskine</a></small>
	            </h1> <!-- // #branding -->
	            <p class="about">
	            Create and export a <em>responive grid</em> into <em>a single zip file</em> containing a <em>CSS</em> file with the specified <em>media queries</em> and <em>responive CSS grid</em>, <em>PNGs</em> to use in your graphics program and a Javascript snippet that allows you to <em>toggle</em> the grid in <em>any browser</em>. 
				<a class="button video" href="">Watch the demo</a>
				<a class="button article" href="">Read the article</a>
	            </p>
			
				<ul>
					<li><img src="{{ STATIC_URL }}images/site/icons/png.png"> Use the PNG versions of your grids for smart and acurate wireframing and designs. </li>
					<li><img src="{{ STATIC_URL }}images/site/icons/css.png">Speed up your builds with the responive CSS grid and pre-defined media queries. </li>
					<li><img src="{{ STATIC_URL }}images/site/icons/keys.png">Toggle your entire grid, the baseline or just the vertical grid on & off in any browser. </li>
					<li><img src="{{ STATIC_URL }}images/site/icons/responsive.png">Build pixel perfect responsive websites that look beautiful in any device.  </li>
				</ul>
	        </header>
		</div>

        <div id="content_wrapper">

            <div id="gridpak">

                <div id="browser">

                    <ul id="grid_list"></ul>

                    <div id="grid_options">

                        <div class="dragme ui-resizable-handle ui-resizable-e">Drag me</div>
                        <div class="hidden">
                            <input id="new_min_width" type="text" disabled="disabled" />
                        </div>
                        <div>
                            <label for="new_col_num">No. of columns</label>
                            <input id="new_col_num" value="16" type="number" min="1" max="99" step="1" />
                        </div>
                        <div>
                            <label for="new_col_padding_width">Column padding</label>
                            <input id="new_col_padding_width" value="10" type="number" min="1" max="99" step="1" />
                            <select id="new_col_padding_type">
                                <option value="px" selected="selected">pixels</option>
                                <option value="%">%</option>
                            </select>
                        </div>
                        <div>
                            <label for="new_gutter_width">Gutter width</label>
                            <input id="new_gutter_width" value="8" type="number" min="1" max="99" step="1" />
                            <select id="new_gutter_type">
                                <option value="px" selected="selected">pixels</option>
                                <option value="%">%</option>
                            </select>
                        </div>
                        <div>
                            <label for="new_baseline_height">Baseline height</label>
                            <input id="new_baseline_height" value="22" type="number" min="1" max="99" step="1" />
                        </div>

                        <div class="submit">
                            <button id="save_grid">Create threshold</button>
                        </div>

                    </div><!-- // #create_grid -->

                </div><!-- // #browser -->
				 <form method="post" action="{% url grids_download %}">
		                <label for="css_checkbox">
		                    <input type="checkbox" name="css" id="css_checkbox"/>
		                    CSS
		                </label>
		                <label for="png_checkbox">
		                    <input type="checkbox" name="pngs" id="png_checkbox"/>
		                    PNGs
		                </label>
		                <label for="javascript_checkbox">
		                    <input type="checkbox" name="javascript" id="javascript_checkbox"/>
		                    Javascript
		                </label>
		                <textarea id="stringified" name="grids" cols="80" rows="10"></textarea>
		                <input type="submit" value="Download your package"><span></span></input>
		            </form>
            </div><!-- // #gridpak -->

        <footer>
            <p>Copyright 2011 <a href="">Erskine Design Limited</a>
			Licensed under the Apache License, Version 2.0</p>
			<p class="follow">For all updates please <a href="">follow @gridpak</a></p>
        </footer>

    </div><!-- // #content_wrapper -->

    <!-- TEMPLATES -->
    <script type="text/template" id="grid_template">
        <div class="grid<%= (current) ? ' cur' : '' %>">
            <div class="cols">
                <% var i=0; for(i; i<col_num; i++) { %>
                    <div class="col" style="<% if (col_width) { %>width:<%= col_width %>px; <% } %><% if ((i + 1) < col_num) { %>margin:0 <%= gutter_width + gutter_type %> 0 0; <% } %>padding:0 <%= col_padding_width + col_padding_type %>;">
                        <div class="visible"><span class="width"><%= col_width %>px</span></div>
                    </div><!-- // .col -->
                <% } %>
            </div><!-- // .cols -->
            <div class="tab" style="left:<%= lower %>px; width:<%= (!upper) ? $('body').width() - lower : upper-lower %>px;">
                <ul class="actions">
                    <li><a href="#" class="link"><%= lower %> - <%= (!upper) ? '&#8734;' : upper %></a></li>
                    <li><a href="#" class="remove">remove</a></li>
                </ul><!-- // .actions -->
            </div>
        </div>
    </script>

    <!-- JAVASCRIPT -->
    <script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.15.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/gridpak.js"></script>
    <script src="{{ STATIC_URL }}js/grid.js"></script>
	<script type="text/javascript" src="http://use.typekit.com/pua6dog.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!--[if IE 6]>
<script src="{{ STATIC_URL }}js/ie6/DD_belatedPNG_0.0.8a.js"></script>
<script src="{{ STATIC_URL }}js/ie6/ie6.js"></script>
<![endif]-->

</body>

</html>
