// ==========================================================================
// BASE HEADINGS 
// ========================================================================== 

// Styles for the default markup headings




h1 {
    @include font-scale(large);
    @include font-family(apercu, bold);
}

h2 {
    @include font-scale(base);
}

h3 {
    font-size:1.538461538em;/*17/13*/
    margin-bottom:0.461538462em; /*9/13*/
    line-height:1.2em;
}

h4 {
    font-size:1.153846154em;/*15/13*/
    margin:12px 0 9px 0;
}

h5 {
    font-size:1.076923077em;/*15/13*/
}
