// ==========================================================================
// FOOTER MODULE
// ========================================================================== 

// Styles for the footer at the bottom.


footer {
    display:block;
    padding: rem-calc(15 0);
    position: relative;

    @include respond-to("large and above"){
        padding: rem-calc(25 0);
    }

    .btn--cta {
        display: none;

        @include respond-to("large and above"){
            display: block;
            float: left;
        }
    }
}

.footer_wrapper {
    opacity: 0;

    @include respond-to("large and above"){
        opacity: 1;
        background: #222;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: rem-calc(25 28);
    }
}

#download {
    margin: rem-calc(0 10 10 0);
}

#download_form {
    width: 50%;
}

#download_form,
#download {
    float: left;
}

.gridpak_info {
    @include font-scale(small);
    color: palette(grey, light);
    width:216px;
    float:left;
    margin: 0;
}

.created_by {
    @include font-scale(small);
    clear: both;
    width: 80%;
    color: #CCCCCC;

    @include respond-to("large and above"){
        float: right;
        clear: none;
        text-align: right;
        margin-bottom: 0;
        width: auto;
    }

    > p {
        margin-bottom: 0;
        color: palette(grey, light);
    }

    a {
        @include font-family(apercu, semi-bold);
        @include gradient-link(light);
    }
}

.created_by a {
    color:#FFF;
}

.created_by a:hover,
.created_by a:focus {
    text-decoration:none;
}
    
.footer__bird {
    position: absolute;
    bottom: rem-calc(20);
    right: rem-calc(20);
    margin-left: rem-calc(10);
    width: rem-calc(51);
    float: right;

    @include respond-to("large and above"){
        position: static;
        right: 0;
        margin-top: rem-calc(2);
    }
}
