// ==========================================================================
// HEADER MODULE
// ========================================================================== 

// Styles for the header at the top

.site_header {
    @include clearfix();
    background-color:#F4F4F4;
    width:100%;
    height: rem-calc(110);
    z-index:300;
    padding: rem-calc(33 0 0 0);

    @include respond-to("large and above"){
        height: rem-calc(100);
        background-color: #FFFFFF;
    }
}

.site_header--app {
    height: auto;
    margin-bottom: rem-calc(10);
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
    
    // Align the header items with the .wrapper module below
    @include respond-to("small and above"){
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    @include respond-to("medium and above"){
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        max-width: 44.1875rem;
        margin-right: auto;
        margin-left: auto;
    }

    @include respond-to("large and above"){
       padding: rem-calc(33 30);
       max-width: 100%;
    }
}

#branding {
    display: block;
    margin-bottom: rem-calc(3);

    @include respond-to("medium and above"){
        display: inline;
        margin-right: rem-calc(5);
    }

    a {
        color:#333;

        &:hover,
        &:focus {
            color:#000;
        }
    }
}

.header_wrapper{
    float: left;
}

.header__nav {
    float: right;
}

.header__btn {
    display: none;

    @include respond-to("large and above"){
        display: block;
        float: right;

        // position the button so that it doesn’t create weird padding on the header module
        position: relative; 
        top: rem-calc(-5);
    }
}

.learn {
    display: none;

    @include respond-to("large and above"){
        @include gradient-link(dark);
        display: inline-block;
    }
}

// byline in the header beneath the logo
.byline {
    @include font-family(apercu, normal);
    @include font-scale(small);
    display: block;

    @include respond-to("medium and above"){
        display: inline;
        @include font-scale(base);
    }
}

.byline--app {
    display: none;

    @include respond-to("medium and above"){
        display: inline;
    }    
}
