/*

    PRINT STYLESHEET
    
    @version: 1.0
    @author: Erskine Design
    
    CONTENTS ----------
    
        - BODY
        - HEADLINES
        - LINKS
        - FOOTER
    
    -------------------
 
*/



@import url(reset.css);
@import url(screen.css);
@import url(components.css);



/* @group BODY -------------------- */

body {
    font-family:16px/1.375em Georgia,serif;
    margin:0;
    padding:7%;
}

/* DISPLAY NONE */
form,
.pagination {
    display:none;
}

/* @end */



/* @group HEADLINES -------------------- */

h1,h2,h3,h4 { 
    font-weight:normal;
    line-height:1.2em;
    margin-bottom:1em;
}
h1 {
    font-size:1.875em;
    line-height:1.1;
}
h2 {
    font-size:1.25em;
    line-height:1.25em;
    margin-bottom:0.75em;
}
h3 {
    font-size:1.125em;
}
h4 {
    font-size:0.938em;
    text-transform:uppercase;
    font-style:italic;
}

/* @end */



/* @group LINKS -------------------- */

a {
    color:#000;
    text-decoration:underline;
}

/* @end */



/* @group FOOTER -------------------- */

div#footer {
    color:#666;
    font-size:0.813em;
    border-top:2px solid #999;
    margin:50px 0 0 0;
    padding:15px 0 0 0;
}
    div#footer p {
        margin:0;
    }
    div#footer a {
        color:#666;
    }

/* @end */


