/*

    HTML5 & 4 reset stylesheet
    Adapted from YUI & HTML5 Doctor
    
    @version: 1.0
    @author: Erskine Design
 
*/


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,img,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,hgroup,menu,nav,summary,time,mark,audio,video,header,footer { 
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    background:transparent;
}

html {
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    /*
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
    */
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,img {
    display:block;
}

ol,ul {
    list-style:none;
}

blockquote,q {
    quotes:none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content:'';
    content:none;
}

strong {
    font-weight:bold;
}

em {
    font-style:italic;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#FF9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#FF9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration:line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    /*border-collapse:collapse;*/
    border-collapse:separate;
    border-spacing:0;
}
caption,
th,
td {
    text-align:left;
    font-weight:normal;
}

input {
    vertical-align:middle;
}
input,
select {
    vertical-align:middle;
}
