/*

    SCREEN PROTOTYPE STYLESHEET
    For rapid prototyping of projects
    
    @version: 1.0
    @author: Erskine Design
    
    CONTENTS ----------
    
        1. BODY
            1.1. ACCESSIBILITY NAVIGATION
        2. DEFAULT STYLING
        3. HEADINGS
        4. LINKS
        5. LAYOUT
        6. HEADER & BRANDING
        7. NAVIGATION
        8. SITEINFO/FOOTER
        9. GLOBAL ELEMENTS
    
    -------------------
    
    COLOURS -----------
    
        black #000000
        white #FFFFFF
    
    -------------------
    
*/



@import url(reset.css);
@import url(components.css);


/* @group 1. BODY
---------------------------------------------------------------------- */

body {
    font:100%/1.5em Helvetica,Arial,sans-serif;
    color:#000;
    background:#DDD;
}

    /* @group 1.1. ACCESSIBILITY NAVIGATION ---------- */
    ul#nav_access {
        position:relative;
        margin:0;
    }
    ul#nav_access li {
        height:0;
    }
    ul#nav_access li a {
        position:absolute;
        left:-9999px;
        top:0;
        font-size:11px;
        font-weight:bold;
        background:#FFFFCC;
        border:2px solid #ddd;
        padding:10px;
        display:block;
    }
    ul#nav_access li a:focus,
    ul#nav_access li a.focus {
        left:0; 
        color:#333; 
    }

/* @end */



/* @group 2.DEFAULT STYLING
---------------------------------------------------------------------- */

p,
ul,
dl,
ol {
    margin-bottom:1em;
}

ul {
    list-style:square;
}
ul li {
    margin-left:1em;
}

dl {
     
}
dl dt {
    font-weight:bold;
}
dl dd {
    font-style:italic;
    margin:0 0 1em 1em;
    font-size:0.9em;
}

ol {
    list-style:decimal;
}
ol li {
    margin:0 2em;
}

hr {
    height:0;
    border:0;   
    border-top:1px solid #ccc;
    margin-bottom:1em;
    padding:0;
}

blockquote {
    margin-bottom:1em;
    font-style:italic;
    padding:1em 1em 1px 1em;
    background:#eee;
}
blockquote p {
    
}
blockquote cite {
    display:block;
    text-transform:uppercase;
    font-size:0.75em;
    font-style:normal;
    margin-bottom:1.2em;
}

code {
    font-family:monospace;
}
pre {
    margin-bottom:1em;
    line-height:1.2em;
}
pre code {
    white-space:pre;
}

abbr {
    border-bottom:1px dotted #000;
}
abbr:hover {
    cursor:help;
    border-style:solid;
}
del {
    opacity:0.7;
}
strong {
    font-weight:bold;
}
em {
    font-style:italic;
}
sup {
    font-size:0.8em;
    position:relative;
    top:-0.5em;
}
sub {
    font-size:0.8em;
    position:relative;
}

/* FORMS ---------- */
    form {
        margin:2em 0;
    }
    form fieldset {
        margin:1em 0;
    }
    form fieldset div {
        padding:1em 0 1em 10em;;
        border-bottom:1px dotted #ccc;
        overflow:hidden;
    }
    label {
        display:block;
        position:relative;
        float:left;
        width:9em;
        left:-10em;
        margin:0 -9em 0 0;
        font-weight:bold;
    }
    label em {
        font-weight:bold;
        color:red;
        font-style:normal;
    }
    input,
    textarea {
        font-size:1em;
        line-height:1.5em;
        font-family:Helvetica,Arial,sans-serif;
        border:1px solid #ccc;
        padding:0.3em;
    }
    input[type="input"],
    input[type="password"] {
    
    }
    textarea {
    
    }
    
    /* SUBMIT ---------- */
        form div.submit {
            border:none;
            padding-left:10em;
        }
        input[type="submit"] {
            cursor:pointer;
        }
        input[type="submit"]:hover {
    
        }
    
    /* CHECKBOXES/RADIO BUTTONS ---------- */
        form fieldset div ul {
            list-style:none;
            margin:0;
        }
        form fieldset div ul li,
        form div.multiselect {
            margin:0;
            position:relative;
        }
        form fieldset div ul li label,
        form div.multiselect label {
            padding:0 0 0 25px;
            width:auto;
            position:static;
            font-weight:normal;
            float:none;
            margin:0;
        }
        form fieldset div ul li input {
            position:absolute;
            left:0;
            top:0;
        }
        form div.multiselect input {
            position:absolute;
            left:10em;
            top:1em;
        }
    
    /* MESSAGING (ERRORS AND SUCCESS)--------- */
        div.message {
            padding:1em 1em 1px 1em;
            margin-bottom:1em;
            border:0;
        }
        div.message.error {
            background:#FCC;
        }
        div.message.success {
            background:#CFC;
        }
    
        /* INLINE ---------- */
            form div.error > label {
                color:red;
            }
            form div.error label.error_message {
                width:auto;
                position:static;
                margin:0.5em 0 0 0;
                float:none;
                font-weight:normal;
                color:red;
            }
            form div.error input,
            form div.error textarea {
                border-color:red;
            }
    
/* TABLES ---------- */
    table {
        margin:2em 0;
        width:100%;
        border-top:1px solid #ccc;
    }
    caption {
        font-style:italic;
        font-size:0.9em;
        margin-bottom:0.5em;
    }
    tr {
    
    }
    th,td {
        border-bottom:1px solid #ccc;
        padding:0.25em;
    }
    th {
        font-weight:bold;
    }
    td {
    
    }
    thead th {
    
    }
    thead td {
    
    }
    tbody th {
    
    }
    tbody td {
    
    }
    

/* @end */



/* @group 3.HEADINGS
---------------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { 
    font-weight:bold;
    line-height:1.2em;
    margin-bottom:0.5em;
}
h1 {
    font-size:2.5em;
}
h2 { 
    font-size:2.0em;
}
h3 { 
    font-size:1.5em;
}
h4 { 
    font-size:1.25em;
}
h5 { 
    font-size:1em;
}
h6 { 
    font-size:0.8em;
    text-transform:uppercase;
}

/* @end */



/* @group 4.LINKS
---------------------------------------------------------------------- */

a {
    
}
a:hover,
a:focus {
    
}

/* @end */



/* @group 5.LAYOUT

---------------------------------------------------------------------- */

div#page {
    width:940px;
    padding:20px;
    margin:0 auto;
    background:#FFF;
}

div#content_wrapper {
    overflow:auto;
}
div#content_pri {
    width:63.8297872%; /* 600 / 940 */
    float:left;
}
div#content_sec {
    width:30.8510638%; /* 290 / 940 */
    float:right;
}

/* @end */



/* @group 6.HEADER & BRANDING
---------------------------------------------------------------------- */

div#header {
    overflow:auto;
}

#branding {
    width:480px;
    height:100px;
    float:left;
}

form#site_search {
    float:right;
    margin:20px 0;
    overflow:hidden;
}
form#site_search fieldset {
    margin:0;
}
form#site_search div {
    border:0;
    padding:0;
    float:left;
}
form#site_search label {
    width:auto;
    left:0;
    margin:0;
}

/* @end */



/* @group 7.NAVIGATION
---------------------------------------------------------------------- */

ul#navigation_pri {
    background:#CCC;
    list-style:none;
    overflow:hidden;
}
ul#navigation_pri li {
    float:left;
    margin:0;
}
ul#navigation_pri li a {
    display:block;
    padding:1em;
}
ul#navigation_pri li a:hover,
ul#navigation_pri li a:focus {
    background:#999;
}

/* @end */



/* @group 8.SITEINFO/FOOTER
---------------------------------------------------------------------- */

div#footer {
    background:#CCC;
    padding:2.041%;
    margin:30px 0 0 0;
}

/* @end */



/* @group 9.GLOBAL ELEMENTS
---------------------------------------------------------------------- */



/* @end */