/*

    [PROJECT NAME]
    
    @version: 1.0
    @author: Erskine Design
    
    CONTENTS ----------
    
        1. BODY
            1.1. ACCESSIBILITY NAVIGATION
        2. DEFAULT STYLING
            2.1. FORMS
            2.2. TABLES
        3. HEADLINES
        4. LINKS
        5. LAYOUT
            5.1. HEADER & BRANDING
            5.2. FOOTER
        6. NAVIGATION
            6.1. HORIZONTAL CLASS
            6.2. PRIMARY NAVIGATION
        7. GLOBAL ELEMENTS
            7.1. MISCELLANEOUS
    
    -------------------
    
    COLOURS -----------
    
        black: #000
        white: #FFF
    
    -------------------
    
*/



@import url(reset.css);



/* @group 1. BODY -------------------- */

body {

}

    /* @group 1.1. ACCESSIBILITY NAVIGATION ---------- */
    
    ul#nav_access {
        position:relative;
        margin:0;
    }
    ul#nav_access li {
        height:0;
    }
    ul#nav_access a {
        position:absolute;
        left:-9999px;
        top:0;
        font-size:11px;
        font-weight:bold;
        background:#FFFFCC;
        border:2px solid #DDD;
        padding:10px;
        display:block;
    }
    ul#nav_access a:focus,
    ul#nav_access a.focus {
        left:0;
        color:#333;
    }
    
    /* @end */



/* @end */



/* @group 2. DEFAULT STYLING -------------------- */

p, ul, dl, ol {

}

ul {
    
}
ul li {
    
}

dl {
    
}
dl dt {
    
}
dl dd {
    
}

ol {
    
}
ol li {
    
}

hr {
    
}

blockquote {
    
}
blockquote p {
    
}
blockquote cite {
    
}

code,
pre {
    font-family:monospace;
}
code {
    
}
pre {
    
}
pre code {
    
}

abbr {
    
}
abbr:hover {
    cursor:help;
}

del {
    text-decoration:line-through;
}

strong {
    font-weight:bold;
}
em {
    font-style:italic;
}

sup {
    vertical-align:super;
}
sub {
    vertical-align:sub;
}

    /* @group 2.1. FORMS ---------- */
    
    form {
    
    }
    fieldset {
    
    }
    fieldset div {
    
    }
    
    label {
    
    }
    label em {
    
    }
    
    textarea {
    
    }
    
    input,
    textarea {
    
    }
    input[type="text"],
    input[type="password"] {
    
    }
    
    /* SUBMIT ---------- */
    form div.submit {
    
    }
    input[type="submit"] {
    
    }
    
    /* @end */
    
    /* @group 2.2. TABLES ---------- */
    
    table {
    
    }
    
    caption {
    
    }
    legend {
    
    }
    
    tr {
    
    }
    
    th, td {
    
    }
    th {
    
    }
    td {
    
    }
    
    thead th {
    
    }
    thead td {
    
    }
    
    tbody th {
    
    }
    tbody td {
    
    }
    
    /* @end */



/* @end */



/* @group 3. HEADLINES -------------------- */

h1, h2, h3, h4, h5, h6 {
    
}

h1 {
    
}
h2 {
    
}
h3 {
    
}
h4 {
    
}
h5 {
    
}
h6 {
    
}

/* @end */



/* @group 4. LINKS -------------------- */

a {
    
}
a:hover,
a:focus {
    
}

/* @end */



/* @group 5. LAYOUT -------------------- */

div#page {
    
}

div#content_wrapper {
    
}

#content_pri {
    
}

#content_sec {
    
}

    /* @group 5.1. HEADER & BRANDING -------------------- */
    
    #header {
    
    }
    
    #branding {
        
    }
    
    /* @end */
    
    /* @group 5.2. FOOTER -------------------- */
    
    #footer {
    
    }
    
    /* @end */



/* @end */



/* @group 6. NAVIGATION -------------------- */



    /* @group 6.1. HORIZONTAL CLASS -------------------- */
    
    .horizontal {
        list-style:none;
        overflow:hidden;
    }
    
    .horizontal li {
        float:left;
    }
    
    .horizontal a {
        display:block;
    }
    
    /* @end */
    
    /* @group 6.2. PRIMARY NAVIGATION -------------------- */
    
    ul#navigation_pri {
        
    }
    
    ul#navigation_pri li {
        
    }
    
    ul#navigation_pri a {
        
    }
    ul#navigation_pri a:hover,
    ul#navigation_pri a:focus {
        
    }
    
    /* @end */



/* @end */



/* @group 7. GLOBAL ELEMENTS -------------------- */



    /* @group 7.1. MISCELLANEOUS -------------------- */
    
    .hide {
        display:none;
    }
    
    .left {
        float:left;
    }
    .right {
        float:right;
    }
    
    /* @end */



/* @end */


