// ==========================================================================
// DIALOGUE MODULE
// ========================================================================== 

// This module styles the dialogue box where users input information, 
// such as the column padding and number of grids that should be output.


#grid_options {
    display:block;
    position:relative;
    float: right;
    width: rem-calc(210);
    right: rem-calc(- 210);
    padding: rem-calc(16 20 18 39);
    margin: rem-calc(100 0 0 0);
    clear: both;
    color: #FFF;
    background: #404345;
    z-index: 99;
    border-radius: rem-calc(0 3 3 0);
}

input {
    font-size:1.153846154em;/*15/13*/
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0; 
}

#grid_options label {
    display:block;
    clear:both;
    margin-bottom: 1px;
    font-size: 0.923076923em;/*12/13*/
}

#grid_options div {
    margin-bottom:10px;
}

#grid_options div.submit {
    width: 100%;
    float: right;
    margin:rem-calc(13 0 0 -39);
    padding: 0;
}

#grid_options .dragme {
    @include icon__background(arrow-drag);
    width: 64px;
    height: 64px;
    background: #3B3F41;
    border-radius: 100%;
    position:absolute;
    left: -34px;
    top: 103px;
    margin: 0;
    cursor: ew-resize;
    z-index: 10;
    box-shadow: 0px -1px 2px #4D5052 inset;
    
    // icon background
    &:before {
        width: 100%;
        height: rem-calc(40);
        position: relative;
        top: rem-calc(13);
        margin: 0 auto;
    }
}
    
#grid_options input {
    @include font-scale(small);
    margin-left: rem-calc(17);
    padding:rem-calc(5 2 4 6);
    border-radius:0 3px 3px 0;
    border: none;
    border-left: 1px solid #A5A5A5;
    outline:none;
    height: rem-calc(30);
    width: rem-calc(43);
    color: #333;
    transition: all 0.2s ease-out;
}

#grid_options input:focus {
    background:#FFF;
    color:rgba(0,0,0,0.9);
    background-clip:padding-box;
}

#grid_options input:active {
    background:#FFF;
    background-clip:padding-box;
}

.number {
    background-color: #CCCCCC;
    width: rem-calc(17);
    height: rem-calc(15);
    position:absolute;
}

.increase {
    border-radius: rem-calc(3) 0 0 0;
    border-left: none;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #797979;
    @include icon__background(arrow-up);
}

.decrease {
    margin-top: rem-calc(15);
    border-radius:0 0 0 rem-calc(3);
    border-left: none;
    border-top: 1px solid #EBEBEB;
    border-bottom: none;
    @include icon__background(arrow-down);
}

.increase,
.decrease {
    &:before {
        position: relative;
        bottom: rem-calc(2);
        left: rem-calc(5);
        height: rem-calc(11);
        width: rem-calc(9);
    }
}

.increase:hover,
.increase:focus,
.decrease:hover,
.decrease:focus {
    background:#bbb;
}

/* Switchers */
.switcher_container {
    display: block;
    height: auto;
    width: auto;
    float: left;
    margin-left: 0.5em;
    cursor: pointer;
    @include font-family(apercu, semi-bold);
}
.switcher_container input {
    display: none;
}
#grid_options .switcher_container label {
    display: block;
    float: left;
    color: #919293;
    background-color: #37393A;
    clear: none;
    width: rem-calc(30);
    height: rem-calc(30);
    line-height: rem-calc(30); // vertically aligned text
    text-align: center;
    cursor: pointer;
    border-radius: rem-calc(3);

    &:first-of-type {
        border-radius: rem-calc(3) 0 0 rem-calc(3);
    }

    &:last-of-type {
        border-radius: 0 rem-calc(3) rem-calc(3) 0;
    }
}
#grid_options .switcher_container label:hover,
#grid_options .switcher_container label:focus {
    color: #fff;
    color: rgba(255,255,255,0.9);
}

#grid_options .switcher_container label.selected {
    border-radius: rem-calc(3); //all corners should have radii
    color: rgba(255,255,255,1.0);
    margin-right: 1px; // to make sure that the box shadow doesn’t bump into it’s neighbour
    box-shadow: 0 0 0 1px #111;
    background-color: #52575A;
    cursor: default;
}

.number_input {
    float: left;
    height: 30px;
}

.number:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
}

.number_input {
    float:left;
}

#save_grid { // more lol
    float:left;
    position:relative;
    margin-left:-1px;
}

.total_width {
    z-index: 4000;
    position: absolute; // because I’m not touching the HTML I have to do some yucky stuff
    top: -370px;
    right: 203px;
    float: right;
    margin: 369px -203px 0 0;
    background-color: rbg(0,0,0);
    background-color: rgba(0,0,0,0.8);
    border-right: 1px solid #111111;
    border-top: 1px solid #111111;
    font-size: .846153846em;
    padding: 5px 10px;
    color: #FFF;
}

.total_width input {
    font-size:1em;/*10/13*/
    background:none;
    border:none;
    text-align:right;
    width:25px;
    color:#FFF;
    margin: -1px 0 0 0; 
}


.total_width input:disabled {
    color:#FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
