// ==========================================================================
// GRIDS MODULE
// ========================================================================== 

// Styles the grid container.



#grid_list {
    width:100%;
    z-index:1;
}

#grid_list .grid {
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    font-size:0.923076923em;/*12/13*/
    background-color:none;
}

#grid_list .cur {
    z-index:99;
}

#grid_list .gridnav {
    z-index:99;
}

#grid_list .cols {
    background-color: #fff;
    height:100%;
    display:none;
    overflow:hidden;
    z-index:3000;
}

#grid_list .cur .cols {
    display:block;
    z-index:3000;
}

#grid_list .col {
    width:10px;
    border-left:0 solid rgba(255,255,255,1);
    border-right:0 solid rgba(255,255,255,0);
    background-clip:padding-box;
    display:block;
    float:left;
    height:100%;
    background-color:#E78484;
}
#grid_list .col:first-child {
    border-left-color:rgba(255,255,255,0);
}
#grid_list .col .width {
   display:none;
}
#grid_list .col .visible {
    width:100%;
    height:100%;
    background-color:#FFF;
    opacity:0.65;
}
