// ==========================================================================
// HEADER MODULE
// ========================================================================== 

// Styles for the header at the top

.site_header {
    @include clearfix();
    background:#FFF;
    width:100%;
    z-index:300;
    padding: rem-calc(33 30);
}

#branding {
    display: inline;
    margin-right: rem-calc(5);

    a {
        color:#333;

        &:hover,
        &:focus {
            color:#000;
        }
    }
}

.byline {
    display: inline;
    @include font-family(apercu, normal);
}

nav {
    float:right;
    margin-top:5px;
    min-width:180px;
}

body.index nav a:hover,
body.index nav a:focus {
    color:#333;
    background-position:0 -889px;
}

ul.social {
    float:left;
    margin:4px 20px 0 0;
}

ul.social li {
    display:inline;
    margin-right:8px;
/*    overflow:hidden;*/
    float:left;
}

.like {
    width:90px;
}
.share {
    width:82px;
}

.header_wrapper {
    .btn--cta {
        display: none;

        @include respond-to("large and above"){
            display: block;
        }
    }
}


@media only screen and (max-width:680px) {
    ul.social {
        display:none;
    }
    
    .header_wrapper p {
        display: none;
    }
    
    body.index nav a {
        float: right;
    }
}
