// ==========================================================================
// HEADER MODULE
// ========================================================================== 

// Styles for the header at the top

.site_header {
    @include clearfix();
    background:#FFF;
    width:100%;
    height: rem-calc(110);
    z-index:300;
    padding: rem-calc(33 0 0 0);

    @include respond-to("large and above"){
        height: rem-calc(100);
    }
}

.site__header--app {
    padding: rem-calc(33 30);
}

#branding {
    display: block;
    margin-bottom: rem-calc(3);

    @include respond-to("medium and above"){
        display: inline;
        margin-right: rem-calc(5);
    }

    a {
        color:#333;

        &:hover,
        &:focus {
            color:#000;
        }
    }
}

.header_wrapper{
    float: left;
}

.header__nav {
    float: right;
}

.header__btn {
    display: none;

    @include respond-to("large and above"){
        display: block;
        float: right;

        // position the button so that it doesn’t create weird padding on the header module
        position: relative; 
        top: rem-calc(-5);
    }
}

.learn {
    @include gradient-link(dark);
    display: inline-block;
}

// byline in the header beneath the logo
.byline {
    @include font-family(apercu, normal);
    @include font-scale(small);
    display: block;

    @include respond-to("medium and above"){
        @include font-scale(base);
        display: inline;
    }
}
