// ==========================================================================
// TABS MODULE
// ========================================================================== 

#grid_list .tab {
    width:100%;
    height: 100%;
    text-align:center;
    position:absolute;
    top: -80px;
    border-right:none;
    z-index:-1;
    // margin-left: rem-calc(-1);

    // the border that sits on the right of each tab
    &:after {
        content: "";
        position: absolute;
        top: 54px;
        right: 0;
        bottom: 0;
        background-color: #596164;
        width: 1px;
        height: 100%;
    }
}

// Grid buttons at the top of the screen.
#grid_list .tab a {
    position: relative;
}

#grid_list .tab li {
    width: 100%;
}

#grid_list .tab .actions {
    display:inline-block;
    position:relative;
    background-color: palette(grey, light);
    color: #222;
    line-height:1em;
    width: 100%;
}

.remove {
    position: absolute;
    left: 53%; 
    top: 0;
}

#grid_list .tab .actions .remove {
    overflow: hidden;
    width: rem-calc(15);
    height: rem-calc(15);    
    opacity: .5;
    top: rem-calc(3);
    left: rem-calc(5);

    &:hover, 
    &:focus {
        opacity: 1;
    }

    &:before {
        height: rem-calc(15);
        width: rem-calc(15);
    }
}

#grid_list li:only-child .remove {
    display:none;
}

#grid_list .tab .actions {
    @include transition(all 0.2s ease-in-out);
}

#grid_list .tab .actions:hover,
#grid_list .tab .actions:focus {
    background-color: #ddd;
}

#grid_list .tab .actions:active {
    color:rgba(255,255,255,0.5);
}

#grid_list .cur .tab .actions {
    background-color: palette(red, base);
    color: #fff;
}

#grid_list .tab .actions li {
    display: inline-block;
}

#grid_list .tab .actions li:first-child {
    position:static;
}

#grid_list .tab .actions span {
    text-decoration:none;
    display: block;
    line-height:1em;        
}

.actions .link {
    padding: rem-calc(4 5 4 10);
}
#grid_list li:only-child .tab .actions span.link {
    padding-right:10px;
}
 
