
// BROWSER SUPPORT
// ==========================================================================
$supports: (
    rem: true,
    svg: true
);

// THIRD PARTY DEPENDENCIES
// ==========================================================================
@import "compass";
@import "breakpoint";

// CONFIG
// ==========================================================================
@import "config/breakpoints";
@import "config/font-settings";
@import "config/colors";

// TOOLS
// ==========================================================================
@import "tools/rem-calc";
@import "tools/font-scale";
@import "tools/clearfix";
@import "tools/palette";
@import "tools/gradient-link";
@import "tools/base-spacing";

// BASE STYLES
// ==========================================================================
@import "base/reset";
@import "base/headings";
@import "base/longform";

// ATOMS
// ==========================================================================
@import "atoms/helpers";
@import "atoms/icons/icons";
@import "atoms/btn/btn";
@import "atoms/grid/grid";
@import "atoms/island";
@import "atoms/code-highlighting";
@import "atoms/nav";

// LAYOUT
// ==========================================================================
@import "layout/wrapper";


// HTML & BODY
// ==========================================================================
html {
    height:100%;
    font-size: 100%;
}

body {
    height: 100%;
    @include font-family(apercu);
    @include font-scale(small);
    color: #333333;
}

p {
    margin-bottom:0.461538462em;/*6/13*/
}

.hidden {
    display:none;
}
       

/* @group 3.LAYOUT 
------------------------------------------*/

#content_wrapper {
    @include clearfix();
    background-color: #3B3F41;
    clear:both;
    padding-top: 80px; // height of the tabs (tabs have to be positioned absolute to sit about grid items)
    padding-left: 30px; 
    margin:0;
    height: 100%;
    width: 100%;
}

.mobile-alert {
    display: none;
}


@import "header";
@import "footer";


/* @group 6. GRID CREATOR 
------------------------------------------*/

#gridpak {
    clear:both;
    background:url(/static/images/diagonal-pattern.png);
    overflow: visible;
    position: relative;
    height: 100%;
    
    // absolutely positioned ruler that sits beneath the tabs
    &:before {
        content: "";
        position: absolute;
        top: rem-calc(-51);
        left: rem-calc(0);
        right: 0;
        height: rem-calc(30);
        width: 100%;
        background:url(/static/images/ruler.png);
        background-repeat: no-repeat;
    }
}

#browser {
    position:relative;
    border: 1px solid palette(grey, dark);
    width:960px;
    margin:0 0 40px 0;
    height: 100%;
    z-index:0;
    animation:fadeInTwo 0.8s 1;

    & > ul > li {
        list-style: none;
    }
}

@import "dialogue";
@import "grid-list";
@import "tabs";
@import "animations";


.tooltip span {
    display:none; 
}

.hidden {
    display: none;
}

.errors {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: rem-calc(-78);
    border: none;
    box-shadow: none;
    padding: rem-calc(10);
    background-color: #FFF5B1;
    font-size: rem-calc(13);
    line-height:1.35em;
    color: #333;
    animation:fadeInDown 0.4s 0;
    border-radius: rem-calc(0 0 3 0);
}
