
// BROWSER SUPPORT
// ==========================================================================
$supports: (
    rem: true,
    svg: true
);

// THIRD PARTY DEPENDENCIES
// ==========================================================================
@import "compass";
@import "breakpoint";

// CONFIG
// ==========================================================================
@import "config/breakpoints";
@import "config/font-settings";
@import "config/colors";

// TOOLS
// ==========================================================================
@import "tools/rem-calc";
@import "tools/font-scale";
@import "tools/clearfix";
@import "tools/palette";
@import "tools/gradient-link";
@import "tools/base-spacing";

// BASE STYLES
// ==========================================================================
@import "base/reset";
@import "base/headings";
@import "base/longform";

// ATOMS
// ==========================================================================
@import "atoms/helpers";
@import "atoms/icons/icons";
@import "atoms/btn/btn";
@import "atoms/grid/grid";
@import "atoms/island";
@import "atoms/code-highlighting";
@import "atoms/nav";

// LAYOUT
// ==========================================================================
@import "layout/wrapper";


// HTML & BODY
// ==========================================================================
html {
    height:100%;
    font-size: 100%;
}

body {
    height: 100%;
    @include font-family(apercu);
    @include font-scale(small);
    color: #333333;
}

p {
    margin-bottom:0.461538462em;/*6/13*/
}

.hidden {
    display:none;
}
       

/* @group 3.LAYOUT 
------------------------------------------*/

#content_wrapper {
    @include clearfix();
    background-color: #3B3F41;
    clear:both;
    padding-top: 80px; // height of the tabs (tabs have to be positioned absolute to sit about grid items)
    padding-left: 30px; 
    margin:0;
    height: 100%;
}

/* @end */

@import "header";
@import "footer";   

    


/* @group 6. GRIPDAK APPLICATION 
------------------------------------------*/

#gridpak {
    clear:both;
    background:url(/static/images/diagonal-pattern.png);
    overflow: visible;
    position: relative;
    height: 100%;
    
    // absolutely positioned ruler that sits beneath the tabs
    &:before {
        content: "";
        position: absolute;
        top: -48px;
        left: 0;
        right: 0;
        height: 30px;
        width: 100%;
        background:url(/static/images/ruler.png);
        background-repeat: no-repeat;
    }
}


/* @group 6.1. BROWSER
--------------------------------------*/

#browser {
    position:relative;
    border: 1px solid palette(grey, dark);
    width:960px;
    margin:0 0 40px 0;
    height: 100%;
    z-index:0;
    animation:fadeInTwo 0.8s 1;

    & > ul > li {
        list-style: none;
    }
}

@import "dialogue";
@import "grid-list";
@import "tabs";



@import "animations";


.tooltip span {
    display:none; 
}

.hidden {
    display: none;
}

// NOT SURE IF I SHOULD DELETE THIS YET
// 
// .tooltip:hover span,
// .tooltip:focus span{
//     /* display:inline; */
//     position:absolute; 
//     border-radius:3px; 
//     border:1px solid #EEDE7D;
//     box-shadow:1px 1px 4px rgba(0,0,0,0.5), rgba(255,255,255,0.22) 1px 1px 0 inset;
//     padding:7px 9px;
//     min-width:40px;
//     max-width:120px; 
//     background:#1a94e2 linear-gradient(top, #FFFAD9, #FFF4AA);
//     font-size:0.8em;
//     line-height:1.3em;
//     text-align:center;
//     color:#555;
//     text-shadow:-1px -1px 0 rgba(255, 255, 255, 0.3);
//     animation:fadeInDown 0.4s 0;
// }

// .tooltip.large:hover span,
// .tooltip.large:focus span {
//     right:0;
//     bottom:-98px;
// }

// .tooltip.large:hover span:before,
// .tooltip.large:focus span:before {
//     top:-15px;
//     left:58px;
//     border-color:transparent transparent #FFFAD9 transparent;  
// }

// .tooltip.small:hover span,
// .tooltip.small:focus span {
//     left:-5px;
//     top:-40px;
// }

// .tooltip.small:hover span:before,
// .tooltip.small:focus span:before {
//     top:27px;
//     left:23px;
//     border-color:#FFF4AA transparent transparent transparent;  
// }


/* @end */


.errors {
    clear:both;
    margin-top:10px;
    width:72.6%;
    border-radius:3px; 
    border:1px solid #EEDE7D;
    box-shadow:1px 1px 4px rgba(0,0,0,0.5), rgba(255,255,255,0.22) 1px 1px 0 inset;
    padding:7px 9px;
    background:#1a94e2 linear-gradient(top, #FFFAD9, #FFF4AA);
    font-size:0.8em;
    line-height:1.3em;
    color:#555;
    text-shadow:-1px -1px 0 rgba(255, 255, 255, 0.3);
    animation:fadeInDown 0.4s 0;
}
