// ==========================================================================
// ISLAND
// ========================================================================== 

// An island component is a colored box with padding

.island {
    background-color: #3B4042;

    .island--dark {
        float: left;
        width: 100%;
        margin-bottom: rem-calc(10);
        text-align: center;
    }
}

.island--dark {
    background-color: #2E3133;
}
