// ==========================================================================
// MOBILE ALERT
// ========================================================================== 

// A mobile alert that pops up on smaller devices.


.mobile-alert {
    background-color: #F4F4F4;

    @include respond-to("large and above"){
        display: none;
    }

    #footer, 
    #content_wrapper,
    .header__nav,
    .learn {
        display: none;
    }

    .site_header {
        background-color: transparent;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    p {
        margin-bottom: rem-calc(20);
    }
}


.mobile-alert__text {
    display: none;
}
