// ==========================================================================
// NAV MODULE
// ========================================================================== 

// The breadcrumb nav menu on the about page

.nav {

}

.nav__item {
    display: inline-block;
    margin-right: rem-calc(10);
}


.nav--breadcrumb {
    @include font-scale(small);
    @include gradient-link(light);
    color: white;
    padding-top: rem-calc(15);
    margin-bottom: rem-calc(30);

    @include respond-to("large and above"){
        margin-bottom: rem-calc(40);
    }
}

.nav--breadcrumb__item {
    display: inline;
    list-style-type: none;

    &:first-of-type:after {
        content:"»";
        display: inline;
        margin-left: rem-calc(5);
        margin-right: rem-calc(2);
    }
}
