// ==========================================================================
// SOCIAL LINKS
// ========================================================================== 

// The share links in the header of the app


.share__twitter, 
.share__github {
    @extend %hide-text;
    margin-top: rem-calc(10);

    &:hover, 
    &:focus {
        -webkit-filter: contrast(93%); 
    }
}

.share__twitter {
    background: transparent inline-image("icons/twitter.svg") center no-repeat;
}

.share__github {
    background: transparent inline-image("icons/github.svg") center no-repeat;
}
