{% load common %}
/*
 * QUERIES
 *
 * @generator http://gridpak.com/
 * @credit Erskine Design
 */

/*

    TABLE OF CONTENTS -----------

        {% for grid in grids %}{{ forloop.counter }}. {{ grid.min_width }}px
        {% endfor %}
    -----------------------------

*/

/* ------ DEFAULT COLUMN STYLING (Do not change) ------ */

.one, .two {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	-moz-background-clip:padding; 
	-webkit-background-clip:padding-box; 	
	background-clip:padding-box;
}

.col(@max_columns: 1, @num: 1) {
	width: width: 100% / @max_columns * @num;
}

.end {border-right:0;margin-right:0;}

/*--- The .end mixin is be used in conjunction with a column mixin if your element is the last in a row ---*/

{% for grid in grids %}

	/* ------{{ forloop.counter }}. GRID {{ grid.min_width }}px - {% if grid.upper %}{{ grid.upper }}px{% else %}infinity{% endif %} ------ */
	
	@media screen and (min-width: {{ grid.min_width }}px){% if grid.upper %} and (max-width: {{ grid.upper }}px){% endif %} {
		.one, .two	{
			border:0px solid rgba(0,0,0,0);
			padding:0 0;
			margin:0 0;
		}

		/* ------ GRIDPAK VARIABLES ------ */

		@max_columns: {{ grid.col_num }}; /* The maximum number of columns in this grid */
		@column_padding: 0, {{ grid.col_padding_width }}{{ grid.col_padding_type }}; /* The internal column padding */
		@gutter_px: {% if grid.gutter_type == 'px' %}{{ grid.gutter_width }}{% else %}0{% endif %}; /* Gutters width in 'px' (If chosen) */
		@gutter_pc: {% if grid.gutter_type == '%' %}{{ grid.gutter_width }}{% else %}0{% endif %}; /* Gutters width in '%' (If chosen) */

		/* ------ COLUMN MIXINS (Place the appropriate column mixin INSIDE your selectors)  ------ */
	
		{% for i in grid.col_num|get_range %}
		.{{ i|add:"1"|cssnumber }} {
			.col({{ grid.col_num }}, {{ i|add:"1" }});
		} /* {{ i|add:"1" }} column{{ i|add:"1"|pluralize }} */
		{% endfor %}
	
	} /* end media query */
{% endfor %}




