{% load common %}/**
 * Gridpak broswer overlay
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 
body {
    width: 100%;
}


    .span_1{
        border-width:20px;
     	padding:8px; /* Column padding*/
     	margin-right:0; /* Used for flexible gutters */
     	width:20%;
     }
     
     .overlay_grid {
         width: 100%;
         height:  100%;
         overflow: hidden;
         opacity:0.65;
     }
     
     .overlay_column {
         width: 20%;
     }
     
     .overlay_baseline {
         border-bottom: 1px dotted (red);
     }