{% load common %}/**
 * QUERIES
 *
 * @generator http://gridpak.com/
 * @credit Erskine Design 
 */

/* ------ DEFAULT COLUMN STYLES ------ */

.span_1{% for i in max_cols|get_range %}, .span_{{ i|add:"2" }}{% endfor %} {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
	-moz-background-clip:padding-box !important;
   	-webkit-background-clip:padding-box !important ;
	background-clip:padding-box !important; /* Without these the background colours will spill out over the gutters */
}

.end {
    border-right:0;
    margin-right:0;
}/*--- The .end class is be used in conjunction with a column class if your element is the last in a row --*/
{% for grid in grids %}
    /**
     * @group {{ forloop.counter }}. MEDIA QUERY
     * ----------------------------------------------------------------------
     */

    	@media screen and (min-width: {{ grid.min_width }}px){% if grid.upper %} and (max-width: {{ grid.upper }}px){% endif %} {
        
        .span_1{% for i in grid.col_num|get_range %}, .span_{{ i|add:"2" }}{% endfor %} {
            border-right-width:{% if grid.gutter_type == 'px' %}{{ grid.gutter_width }}{% else %}0{% endif %}px; /* Used for fixed gutters */
        	padding:0 {{ grid.col_padding_width }}{{ grid.col_padding_type }}; /* Column padding*/
        	margin-right:{% if grid.gutter_type == '%' %}{{ grid.gutter_width }}{% else %}0{% endif %}; /* Used for flexible gutters */
        }
        
        {% for i in grid.col_num|get_range %}.span_{{ i|add:"1" }} {
            width:XXX%;
        }
        {% endfor %}
    } /* // min_width: {{ grid.min_width }}px */ 
    
    {% endfor %}