<!DOCTYPE html>
<html lang="en" class="js-disabled">

    <head>
    
        <!-- METADATA -->
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="author" content="Erskine Design" />
        <link rel="author" type="text/plain" href="/humans.txt" />
        
        <title>Gridpak</title>
        
        <!-- CSS -->
        <link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/screen.css" />
        
        <!-- INTERNET EXPLORER CSS -->
        <!--[if IE 8]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie8.css" /><![endif]-->
        <!--[if lte IE 7]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie.css" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie7.css" /><![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie6.css" /><![endif]-->
        
        <!-- ICONS -->
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/site/icons/favicon.png" />   
    
    </head>
    
    <body class="{% block body_class %}{% endblock %}">

        <header>
            <h1 id="branding">
                <a href="http://www.twitter.com/gridpack">@Gridpak</a>
            </h1> <!-- // #branding -->
            <p class="about">
            Gridpak allows you to set and export a fluid or adaptive grid at various layouts into one neat little package containing a CSS file with the appropriate media queries and grid, PNGs to use in your graphics program and a Javascript file that allows you to toggle the grid on and off in any browser.<br /> <a href="">&rarr; Watch the video</a> <a href="">&rarr; Read the article</a>
            </p>
            <p class="feedback">
            We’re always looking to improve Gridpak so if you have any feedback or bugs please submit them through our <br /><a href="http://www.twitter.com/gridpak">&rarr; Twitter account</a>
            </p> 
            <ul>
                <li><time>14/08/11</time> - Added Baseline functionality</li>
                <li><time>12/08/11</time> - Bug fix</li>
                <li><time>11/07/11</time> - Added Column padding</li>
                <li><time>10/07/11</time> - Fixed Safari bug</li>
                <li><time>08/08/11</time> - Added Margins</li>
                <li><time>03/07/11</time> - Added Column padding</li>
            </ul>
        </header>

        <div id="content_wrapper">

            <div id="gridpak">

                <div id="browser">

                    <ul id="grid_list"></ul>

                    <div id="grid_options">

                        <div class="dragme ui-resizable-handle ui-resizable-e">Drag me</div>
                        <div class="hidden">
                            <input id="new_min_width" type="hidden" />
                        </div>
                        <div>
                            <label for="new_col_num">No. of columns</label>
                            <input id="new_col_num" value="10" type="number" min="1" max="99" step="1" />
                        </div>
                        <div>
                            <label for="new_col_padding_width">Column padding</label>
                            <input id="new_col_padding_width" value="10" type="number" min="1" max="99" step="1" />
                            <select id="new_col_padding_type">
                                <option value="px" selected="selected">pixels</option>
                                <option value="%">%</option>
                            </select>
                        </div>
                        <div>
                            <label for="new_gutter_width">Gutter width</label>
                            <input id="new_gutter_width" value="10" type="number" min="1" max="99" step="1" />
                            <select id="new_gutter_type">
                                <option value="px" selected="selected">pixels</option>
                                <option value="%">%</option>
                            </select>
                        </div>
                        <div>
                            <label for="new_baseline_height">Baseline height</label>
                            <input id="new_baseline_height" value="10" type="number" min="1" max="99" step="1" />
                        </div>

                        <div class="submit">
                            <button id="save_grid">BUTTON NAME</button>
                        </div>

                    </div><!-- // #create_grid -->

                </div><!-- // #browser -->

            </div><!-- // #gridpak -->

        <footer>
            <form method="post" action="{% url download %}">
                <label for="css_checkbox">
                    <input type="checkbox" name="css" id="css_checkbox"/>
                    CSS
                </label>
                <label for="png_checkbox">
                    <input type="checkbox" name="pngs" id="png_checkbox"/>
                    PNGs
                </label>
                <label for="javascript_checkbox">
                    <input type="checkbox" name="javascript" id="javascript_checkbox"/>
                    Javascript
                </label>
                <textarea id="stringified" name="grids" cols="80" rows="10"></textarea>
                <input type="submit" value="Download your package"><span></span></input>
            </form>
            <p>Created at <a href="">Erskine</a> by <a href="http://twitter.com/philswan">Phil Swan</a>, <a href="http://twitter.com/linssen">Wil Linssen</a> &amp; <a href="http://twitter.com/samquayle">Sam Quayle</a></p>
        </footer>

    </div><!-- // #content_wrapper -->

    <!-- TEMPLATES -->
    <script type="text/template" id="grid_template">
        <div class="grid<%= (current) ? ' cur' : '' %>">
            <div class="cols">
                <% var i=0; for(i; i<col_num; i++) { %>
                    <div class="col" style="<% if (col_width) { %>width:<%= col_width %>px; <% } %><% if ((i + 1) < col_num) { %>margin:0 <%= gutter_width + gutter_type %> 0 0; <% } %>padding:0 <%= col_padding_width + col_padding_type %>;">
                        <div class="visible"></div>
                    </div><!-- // .col -->
                <% } %>
            </div><!-- // .cols -->
            <div class="tab" style="left:<%= lower %>px; width:<%= (!upper) ? '100%' : (upper-lower) + 'px' %>;">
                <a href="#" class="link"><%= lower %> - <%= (!upper) ? '&#8734;' : upper %></a>
            </div>
            <a href="#" class="remove">remove</a>
            <a href="#" class="update">update</a>
        </div>
    </script>

    <!-- JAVASCRIPT -->
    <script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.15.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/gridpak.js"></script>
    <script src="{{ STATIC_URL }}js/grid.js"></script>

<!--[if IE 6]>
<script src="{{ STATIC_URL }}js/ie6/DD_belatedPNG_0.0.8a.js"></script>
<script src="{{ STATIC_URL }}js/ie6/ie6.js"></script>
<![endif]-->

</body>

</html>
