{% extends 'base.html' %}
{% block page_title %}Home{% endblock %}
{% block body_class %}home{% endblock %}
{% block branding %}
                <h1 id="branding">
                    <img src="{{ STATIC_URL }}images/site/branding/branding.png" alt="" width="480" height="100" />
                </h1> <!-- // #branding -->
{% endblock %}
{% block content %}
        <div id="content_wrapper">
        
            <div id="gridulator">
            
                <div id="browser">

                    <div id="create_grid">
                        <div class="dragme ui-resizable-handle ui-resizable-e">Drag me</div>
                        <input id="new_min_width" type="text" placeholder="Min width" value="960" />
                        <input id="new_col_num" type="text" placeholder="Number of cols" value="10" />
                        <input id="new_col_margin_width" type="text" placeholder="Margin width" value="1" />
                        <input id="new_col_margin_type" type="text" placeholder="px or %" value="%" />
                        <button id="save_grid">Save</button>

                    </div><!-- // #create_grid -->

                </div><!-- // #browser -->

                <ul id="grid_list"></ul>

                <textarea id="stringified" cols="50" rows"40"></textarea>

                </div>
            
            </div> <!-- // #content_pri -->

        </div> <!-- // #content_wrapper -->

        <!-- TEMPLATES -->
        <script type="text/template" id="grid_template">
            <div class="grid">
                <input class="min_width" type="text" value="" />
                <input class="col_num" type="text" value="" />
                <input class="col_margin_width" type="text" value="" />
                <input class="col_margin_type" type="text" value="" />
                <a href="#" class="remove">remove</a>,
                <a href="#" class="update">update</a>
            </div>
        </script>

{% endblock %}
