<!DOCTYPE html>
<html lang="en" class="js-disabled">

    <head>
    
        <!-- METADATA -->
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="author" content="Erskine Design" />
        <link rel="author" type="text/plain" href="/humans.txt" />
        <title>Erskine Design Grid Thing</title>
        
        <!-- CSS -->
        <link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/screen.css" />
        
        <!-- INTERNET EXPLORER CSS -->
        <!--[if IE 8]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie8.css" /><![endif]-->
        <!--[if lte IE 7]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie.css" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie7.css" /><![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/ie/screen_ie6.css" /><![endif]-->
        
        <link rel="stylesheet" media="print" type="text/css" href="{{ STATIC_URL }}css/print.css" />
        
        <!-- ICONS -->
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/site/icons/favicon.png" />
        
        <!-- RSS -->
        <!-- <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss/feed.xml" /> -->
        
    
    </head>
    
    <body class="home">
    
        <ul id="nav_access">
            <li><a href="#navigation_pri">Skip to navigation</a></li>
            <li><a href="#content_wrapper">Skip to content</a></li>
        </ul> <!-- // #nav_access -->
        
        <div id="page">
        
            <div id="header">
            
        <div id="content_wrapper">
        
            <div id="gridulator">
            
                <div id="browser">

                    <ul id="grid_list"></ul>

                    <div id="create_grid">

                        <div class="dragme ui-resizable-handle ui-resizable-e">Drag me</div>
                        <div class="hidden">
                            <input id="new_min_width" type="hidden" />
                        </div>
                        <div>
                            <label for="new_col_num">No. of columns</label>
                            <input id="new_col_num" type="text" value="12" />
                        </div>
                        <div>
                            <label for="new_col_padding_width">Column padding</label>
                            <input id="new_col_padding_width" type="text" value="1" />
                            <select id="new_col_padding_type">
                                <option value="px">pixels</option>
                                <option value="%" selected="selected">%</option>
                            </select>
                        </div>
                        <div>
                            <label for="new_col_margin_width">Gutter width</label>
                            <input id="new_col_margin_width" type="text" value="10" />
                            <select id="new_col_margin_type">
                                <option value="px" selected="selected">pixels</option>
                                <option value="%">%</option>
                            </select>
                        </div>
                        <div>
                            <label for="new_baseline_height">Baseline height</label>
                            <input id="new_baseline_height" type="text" value="22" /><small>px</small>
                        </div>

                        <div class="submit">
                            <button id="save_grid">Save layout</button>
                        </div>

                    </div><!-- // #create_grid -->

                </div><!-- // #browser -->


                <form method="post" action="{% url download %}">
                    <textarea id="stringified" name="grids" cols="80" rows="10"></textarea>
                    <input type="submit" value="Download" />
                </form>

                </div>
            
            </div> <!-- // #content_pri -->

        </div> <!-- // #content_wrapper -->

        <!-- TEMPLATES -->
        <script type="text/template" id="grid_template">
            <div class="grid">
                <div class="cols">
                    <% var i=0; for(i; i<=col_num; i++) { %>
                        <div class="col" style="<% if (col_width) { %>width:<%= col_width %>px; <% } %>margin:0 <%= col_margin_width + col_margin_type %>; padding:0 <%= col_padding_width + col_padding_type %>;">
                            <div class="visible"></div>
                        </div><!-- // .col -->
                    <% } %>
                </div><!-- // .cols -->
                <div class="tab" style="width:<%= min_width %>px;">
                    <a href="#" class="link"><%= min_width %> - XXXpx</a>
                </div>
                <a href="#" class="remove">remove</a>,
                <a href="#" class="update">update</a>
            </div>
        </script>

        </div><!-- // #page -->
    
    </div> <!-- // #page -->
    
    <!-- JAVASCRIPT -->
    <script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.15.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/gridulator.js"></script>


    
    <!--[if IE 6]>
        <script src="{{ STATIC_URL }}js/ie6/DD_belatedPNG_0.0.8a.js"></script>
        <script src="{{ STATIC_URL }}js/ie6/ie6.js"></script>
    <![endif]-->
    
    </body>
</html>
