// ==========================================================================
// BREAKPOINT SETTINGS
// ==========================================================================
//
//
// This module defines the global breakpoints and width variables for
// generating media queries in CSS.
//
// First we set the default min-width breakpoints and then add these values
// to the $breakpoints list. With the breakpoint respond-to feature we can then
// use media queries like this:
//
//
// @include respond-to("small and above") {
//      @content
// }
//


$width__small: 425px;
$width__medium: 575px;
$width__large: 750px;
$width__largest: 900px;




// BREAKPOINTS
// ==========================================================================

$breakpoint-to-ems: true !global;

$no-queries: 'no-query' true !global;

$breakpoints: add-breakpoint('small only', (max-width $width__small - 1px, $no-queries)) !global;
$breakpoints: add-breakpoint('small and above', ($width__small, $no-queries)) !global;
$breakpoints: add-breakpoint('between small and medium', ($width__small $width__medium)) !global;
$breakpoints: add-breakpoint('below medium', (max-width $width__medium - 1px, $no-queries)) !global;
$breakpoints: add-breakpoint('medium and above', ($width__medium, $no-queries)) !global;
$breakpoints: add-breakpoint('between medium and large', ($width__medium $width__large)) !global;
$breakpoints: add-breakpoint('below large', (max-width $width__large - 1px, $no-queries)) !global;
$breakpoints: add-breakpoint('large and above', ($width__large, $no-queries)) !global;
$breakpoints: add-breakpoint('between large and largest', ($width__large $width__largest)) !global;
$breakpoints: add-breakpoint('largest only', ($width__largest, $no-queries)) !global;
$breakpoints: add-breakpoint('high resolution', (min-resolution 1.5dppx, false)) !global;
$breakpoints: add-breakpoint('landscape', (orientation landscape)) !global;
$breakpoints: add-breakpoint('portrait', (orientation portrait)) !global;

