/*

    COMPONENTS LIBRARY

    @author: Erskine Design

    CONTENTS ----------

        - BLOCK
        - LISTINGS
            - ITEM LISTING
            - BLOCK LISTING
            - ARTICLE LISTING
        - CTA BUTTONS

    -------------------

*/


// @start BLOCK -------------------- //

.block {
    
}

// @end BLOCK //



// @start LISTINGS -------------------- //

    // @start ITEM LISTING -------------------- //

    .item_listing {
        list-style:none;
        margin-bottom:0;

        &,
        .item {
            @include clearfix();
        }

        .item {
            margin-left:0;
            position:relative;
        }

        a {
            

            &:hover,
            &:focus {
                
            }
        }

        .item_meta {
            
        }
        .item_content {
            
        }

    }

    // @end ITEM LISTING //

    // @start BLOCK LISTING (Base: item_listing) -------------------- //

    .block_listing {
        
    }

    // @end BLOCK LISTING //

    // @start ARTICLE LISTING (Base: item_listing) -------------------- //

    .article_listing {
        
    }

    // @end ARTICLE LISTING //

// @end LISTINGS //



// @start CTA BUTTONS -------------------- //

.cta_button {
    clear:both;
    text-align:center;

    a,
    button {
        display:block;
        text-decoration:none;

        &:hover,
        &:focus {
            
        }
    } // .cta_button a, .cta_button button

}

// @end CTA BUTTONS //


// @start TABS -------------------- //

#breakpoint_tabs {
    
    background-color:$grey1;

    ul {

    }

    li {
        position:relative;   
    }
    
    a {
        background-color:darken($grey1, 20%);
        color:#FFF;
        padding:15px 45px 15px 20px;

        &:hover,
        &:focus {
            background-color:darken($grey1, 30%);
        }
    }

    span {
        background:#DDD;
        color:#000;
        display:block;
        height:12px;
        padding:0 0 5px 5px;
        position:absolute;
        right:15px;
        top:15px;
        width:12px;

        &:hover,
        &:focus {
            background:#FFF;
            cursor: pointer;
        }
    }
}

// @end TABS


// @start OPTIONS -------------------- //

#options {
    
    background-color:$grey2;
    overflow:hidden;
    padding:20px;

    dt,
    dd {
        float:left;
        margin-right:10px;
    }
}

// @end OPTIONS

// @start RULER -------------------- //

#ruler {

    background-color:$grey3;
    
    li {
        @include hide-text;
    }
    
    a {
        background-color:$grey1;
        width:10px;        
    }
}

// @end RULER

// @start GRID -------------------- //

#grid {
    
    @include clearfix;
    position:relative;

    #current_width{
        position:absolute;
        right:0;
        top:0;
    }

    li {
        background:gold;
        border-right:2px solid #EEE;
        float:left;
        height:400px;
    }
    
}

// @end GRID

// @start FOOTER -------------------- //

footer {
    
    button {
        background:#000;
        border:none;
        color:#FFF;
        float:left;
        padding:10px;
    }
    
    .credit {
        float:right;
    }
}

// @end FOOTER


