/*

    HTML reset stylesheet
    Adapted from YUI, HTML5 Doctor & Normalize
    
    @version: 1.1
    @author: Erskine Design
 
*/


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,img,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,hgroup,menu,nav,summary,time,mark,audio,video,header,footer { 
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    background:transparent;
}

html {
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    // -moz-text-size-adjust:none;
    // -webkit-text-size-adjust:none;
    // -ms-text-size-adjust:none;
    // text-size-adjust:none;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
menu,
nav,
section,
summary {
    display:block;
}

ol,
ul {
    list-style:none;
}

blockquote,
q {
    quotes:none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content:'';
    content:none;
}

a {
    background:transparent;
    border:0;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
caption,
th,
td {
    text-align:left;
    font-weight:normal;
}


/* =============================================================================
   Forms (From normalize.css: http://necolas.github.com/normalize.css/)
   ========================================================================== */

/*
* 1. Corrects font size not being inherited in all browsers
* 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
* 3. Improves appearance and consistency in all browsers
*/

button,
input,
select,
textarea {
   font-size:100%; /* 1 */
   margin:0; /* 2 */
   vertical-align:baseline; /* 3 */
   *vertical-align:middle; /* 3 */
}

/*
* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
*/

button,
input {
   line-height:normal; /* 1 */
}

/*
* 1. Improves usability and consistency of cursor style between image-type 'input' and others
* 2. Corrects inability to style clickable 'input' types in iOS
* 3. Removes inner spacing in IE7 without affecting normal text inputs
*    Known issue: inner spacing remains in IE6
*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
   cursor:pointer; /* 1 */
   -webkit-appearance:button; /* 2 */
   *overflow:visible;  /* 3 */
}

/*
* Re-set default cursor for disabled elements
*/

button[disabled],
input[disabled] {
   cursor:default;
}

/*
* 1. Addresses box sizing set to content-box in IE8/9
* 2. Removes excess padding in IE8/9
* 3. Removes excess padding in IE7
     Known issue: excess padding remains in IE6
*/

input[type="checkbox"],
input[type="radio"] {
   box-sizing:border-box; /* 1 */
   padding:0; /* 2 */
   *height:13px; /* 3 */
   *width:13px; /* 3 */
}

/*
* 1. Addresses appearance set to searchfield in S5, Chrome
* 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
*/

input[type="search"] {
   -webkit-appearance:textfield; /* 1 */
   -moz-box-sizing:content-box;
   -webkit-box-sizing:content-box; /* 2 */
   box-sizing:content-box;
}

/*
* Removes inner padding and search cancel button in S5, Chrome on OS X
*/

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance:none;
}

/*
* Removes inner padding and border in FF3+
* www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
*/

button::-moz-focus-inner,
input::-moz-focus-inner {
   border:0;
   padding:0;
}

/*
* 1. Removes default vertical scrollbar in IE6/7/8/9
* 2. Improves readability and alignment in all browsers
*/

textarea {
   overflow:auto; /* 1 */
   vertical-align:top; /* 2 */
}


